<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Data from crop</title>
</head>

<body>
    <button id = "buttonRequestData" onclick="requestGetDataAfterATime()"> Request data</button>
    <div class="parent">
        <div class="div1"> 
            <section id="header">
                <h3>Crops Oversee</h3>
                <h6> Date : <script> document.write(new Date().toDateString()); </script></h6>
                <h6> Time : <script> document.write(new Date().toLocaleTimeString()); </script></h6>     
            </section> 
        </div>
        <div class="div2">
            <section id="tables">
                <table>
                    <caption>
                        <strong>Crop number one</strong> 
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"> Temperature [°C]</th>
                            <th scope="col"> Humidity [%]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th> Now :</th>
                            <th id="NowTemp1"> </th>
                            <th id="NowHum1"> </th>
                        </tr>
                        <tr>
                            <th>Recommanded : </th> 
                            <th> 21 </th>
                            <th> 22 </th>
                        </tr>
                        <tr>
                            <th>Avrg last h :</th>
                            <th id="AvgTemp1"> </th>
                            <th id="AvgHum1"> </th>
                        </tr>
                    </tbody>
                </table>
            </section>   
        </div>
        <div class="div3"> 
            <section id="tables">
                <table>
                    <caption>
                        <strong>Crop number two</strong> 
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"> Temperature [°C]</th>
                            <th scope="col"> Humidity [%]</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th> Now :</th>
                            <th id="NowTemp2"> </th>
                            <th id="NowHum2"> </th>
                        </tr>
                        <tr>
                            <th>Recommanded : </th> 
                            <th> 21 </th>
                            <th> 22 </th>
                        </tr>
                        <tr>
                            <th>Avrg last h :</th>
                            <th id="AvgTemp2"> </th>
                            <th id="AvgHum2"> </th>
                        </tr>
                    </tbody>
                </table>
            </section>       
        </div>
    </div>
</body>
<script src ="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src = "/socket.io/socket.io.js"></script>
<script src = "/dataProcess.js"></script>
</html>