<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Data from crop</title>
</head>
<body>
    <section id="header">
        <h3>Crop number one</h3>
        <h6> Date :</h6>
        <h6> Time :</h6>     
    </section> 
     
    <section id="tables">
        <table>
            <tbody>
                <h3> <strong> Crop number one</strong> </h3>
                <tr>
                    <td> <strong>Temperature</strong> </td>
                    <td>Now :</td>
                    <td>Recommanded :</td>
                    <td>Average last hour :</td>
                    <td> <strong>Humility</strong> </td>
                    <td>Now :</td>
                    <td>Recommanded :</td>
                    <td>Average last hour :</td>
                </tr>
                <tr> 
                </tr>
            </tbody>
        </table>
    </section>   
</body>
</html>