<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"/>
    <title>Data from crop</title>
</head>

<body>
    <div class="parent">
        <div class="div1"> 
            <section id="header">
                <h3>Crops Oversee</h3>
                <h6> Date : </h6>
                <h6> Time : </h6>     
            </section> 
        </div>
        <div class="div2">
            <section id="tables">
                <table>
                    <caption>
                        <strong>Crop number one</strong> 
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"> Temperature</th>
                            <th scope="col"> Humidity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th> Now :</th>
                            <th id="NowTemp"> x</th>
                            <th id="NowHum"> y</th>
                        </tr>
                        <tr>
                            <th>Recommanded : </th> 
                            <th> 21 °C</th>
                            <th> 22 %</th>
                        </tr>
                        <tr>
                            <th>Avrg last h :</th>
                            <th id="AvgTemp"> x</th>
                            <th id="AvgHum"> y</th>
                        </tr>
                    </tbody>
                </table>
            </section>   
        </div>
        <div class="div3"> 
            <section id="tables">
                <table>
                    <caption>
                        <strong>Crop number two</strong> 
                    </caption>
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col"> Temperature</th>
                            <th scope="col"> Humidity</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th> Now :</th>
                            <th> x</th>
                            <th> y</th>
                        </tr>
                        <tr>
                            <th>Recommanded : </th> 
                            <th> 21 °C</th>
                            <th> 22 %</th>
                        </tr>
                        <tr>
                            <th>Avrg last h :</th>
                            <th> x</th>
                            <th> y</th>
                        </tr>
                    </tbody>
                </table>
            </section>       
        </div>
    </div>
</body>
</html>